<!DOCTYPE html>
<html>
<head>
  <title>Rhsc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="containter">
    <ul class="nav nav-tabs">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          About <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Surgeons", surgeons_path %></li>
        </ul>
      </li>
      <li><%= link_to "Before Surgery", before_path %></li>
      <li><%= link_to "After Surgery", after_path %></li>
   </div>


<%= yield %>

</body>
</html>
